.product_listing{
	padding: 3rem 2rem;
}

.product_listing_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.product_listing_header select{
	padding:.5rem 1rem;
}

.checkbox input{
	margin-right: 1rem;
}

.btn_primary{
	padding: .5rem 2rem;
	background-color: rgb(91, 79, 247);
	text-decoration: none;
	color: white;
}

.product_img{
	height: 150px;
	width: 150px;
}

.products_table{
	border: 1px solid;
	border-collapse: collapse;
}

.products_table td,th{
	border: 1px solid;
}

.tr_dark{
	background-color: azure;
}

th{
	padding: 1rem;
}

td{
	padding: .5rem;
}