.dashboard_body{
	margin-top: 5rem;
	display: flex;
	gap: 2rem;
	justify-content: center;
}

.dashboard_card{
	height: 150px;
	width: 200px;
	background-color: rgb(160, 164, 168);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	font-size: 1.5rem;
}

.card_data{
	font-size: 3rem;
}

.dashboard_card .green{
	color:green;
}

.dashboard_card .yellow{
	color:yellow;
}

.dashboard_card .red{
	color: red;
}