.sidebar{
	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(78, 71, 71);
}

.sidebar_item{
	color: white;
	text-decoration: none;
}